/*.policy-menu-component-template{*/
    /*border-top:4px solid #ae242b;*/
    /*width: 180px;*/
    /*margin-top: 30px;*/
/*}*/
/*.policy-menu-component-template .ant-menu-submenu-title,*/
/*.policy-menu-component-template .ant-menu-submenu-title .anticon{*/
    /*font-size: 16px;*/
/*}*/
/*.policy-menu-component-template .ant-menu-submenu-selected{*/
    /*color: #ae242b;*/
/*}*/
/*.policy-menu-component-template .ant-menu-item-selected > a,*/
/*.policy-menu-component-template .ant-menu-item-selected > a:hover{*/
    /*color: #ae242b;*/
/*}*/
/*.policy-menu-component-template .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{*/
    /*background: #f3a7a7;*/
/*}*/
/*.policy-menu-component-template .ant-menu-inline .ant-menu-item::after{*/
    /*border-right: 3px solid #ae242b;*/
/*}*/
/*.policy-menu-component-template .ant-menu-submenu-active:hover,*/
/*.policy-menu-component-template .ant-menu-submenu-active:hover .ant-menu-submenu-title,*/
/*.policy-menu-component-template .ant-menu-item a:hover{*/
    /*color: #ae242b;*/

/*}*/
/*.policy-menu-component-template .ant-menu-submenu-title .ant-menu-submenu-arrow:after,*/
/*.policy-menu-component-template .ant-menu-submenu-title .ant-menu-submenu-arrow:before,*/
/*.policy-menu-component-template .ant-menu-submenu-active .ant-menu-submenu-title .ant-menu-submenu-arrow:after,*/
/*.policy-menu-component-template .ant-menu-submenu-active .ant-menu-submenu-title .ant-menu-submenu-arrow:before{*/
    /*background-image: linear-gradient(to right, rgba(174, 36, 43, 1), rgba(174, 36, 43, 1));*/
/*}*/
/*.policy-menu-component-template{*/
/*padding-top: 28px;*/
/*}*/
/*.policy-menu-component-template .welcome-box{*/
/*border-bottom: 1px solid #efefef;*/
/*padding:5px;*/
/*}*/
/*.policy-menu-component-template .welcome-box .right-button{*/
/*text-align: right;*/
/*}*/
/*.policy-menu-component-template .logo-box{*/
/*padding:20px;*/
/*}*/
/*.policy-menu-component-template .logo-box .logo{*/
/*font-size: 24px;*/
/*color:#333;*/
/*}*/

/*.policy-menu-component-template .ant-menu{*/
/*border:0px;*/
/*}*/
/*.policy-menu-component-template .ant-menu .ant-menu-item{*/
/*color: #666;*/
/*font-size: 17px;*/
/*border:1px solid #b94147;*/
/*border-radius: 20px;*/
/*text-indent:10px;*/
/*margin-bottom: 20px;*/
/*cursor: pointer;*/
/*}*/
/*.policy-menu-component-template .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{*/
/*background: #fff;*/
/*color: #ae242b;*/
/*}*/
/*.policy-menu-component-template .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected a,*/
/*.policy-menu-component-template .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-active a{*/
/*color: #ae242b;*/
/*}*/
/*.policy-menu-component-template .ant-menu .ant-menu-inline .ant-menu-item-selected::after{*/
/*display: none;*/
/*}*/
/*.policy-menu-component-template .ant-menu-submenu-title{*/
/*background: #ae242b;*/
/*font-size: 17px;*/
/*color: #fff;*/
/*border-radius: 20px;*/
/*text-indent:5px;*/
/*margin-bottom: 20px;*/
/*}*/
/*.policy-menu-component-template .ant-menu-submenu-title .ant-menu-submenu-arrow:after,*/
/*.policy-menu-component-template .ant-menu-submenu-title .ant-menu-submenu-arrow:before,*/
/*.policy-menu-component-template .ant-menu-submenu-active .ant-menu-submenu-title .ant-menu-submenu-arrow:after,*/
/*.policy-menu-component-template .ant-menu-submenu-active .ant-menu-submenu-title .ant-menu-submenu-arrow:before*/
/*{*/
/*color: #fff;*/
/*background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));*/
/*}*/
/*.policy-menu-component-template .ant-menu-submenu-title .anticon{*/
/*font-size: 20px;*/
/*}*/
.policy-menu-component-template{
    border-top:4px solid #d13234;
    width: 180px;
    margin-top: 30px;
}
.policy-menu-component-template .ant-menu-submenu-title,
.policy-menu-component-template .ant-menu-submenu-title .anticon{
    font-size: 15px;
    font-weight: bold;
}
.policy-menu-component-template .ant-menu-inline{
    border-right: 0px;
}
.policy-menu-component-template .ant-menu-sub.ant-menu-inline > .ant-menu-item{
    background: #f5f5f5;
    margin: 0;
    border-bottom: 1px solid #e3e3e3;
    padding-left: 23px!important;
    cursor: pointer;
}
.policy-menu-component-template .ant-menu-sub.ant-menu-inline > .ant-menu-item a,
.policy-menu-component-template .ant-menu-sub.ant-menu-inline > .ant-menu-item a:hover{
    color:#787070
}
.policy-menu-component-template .ant-menu-sub.ant-menu-inline > .ant-menu-item img{
    display: inline-block;
    margin-right: 10px;
    vertical-align: -3px;
}
.policy-menu-component-template .ant-menu-item{
    background: #f5f5f5;
    margin: 0;
    border-bottom: 1px solid #e3e3e3;
}
.policy-menu-component-template .ant-menu-submenu img,
.policy-menu-component-template .ant-menu-item img{
    margin-right: 10px;
    display: inline-block;
    vertical-align: -1px;
}
.policy-menu-component-template .ant-menu-submenu-selected{
    color: #d13234;
}
.policy-menu-component-template .ant-menu-item-selected > a,
.policy-menu-component-template .ant-menu-item-selected > a:hover{
    color: #787070;
}
.policy-menu-component-template .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background: #d9d6d6;
}
.policy-menu-component-template .ant-menu-inline .ant-menu-item::after{
    border-right: 0px solid #ae242b;
}
.policy-menu-component-template .ant-menu-submenu-active:hover,
.policy-menu-component-template .ant-menu-submenu-active:hover .ant-menu-submenu-title,
.policy-menu-component-template .ant-menu-item a:hover{
    color: #ae242b;

}
.policy-menu-component-template .ant-menu-submenu-title .ant-menu-submenu-arrow:after,
.policy-menu-component-template .ant-menu-submenu-title .ant-menu-submenu-arrow:before,
.policy-menu-component-template .ant-menu-submenu-active .ant-menu-submenu-title .ant-menu-submenu-arrow:after,
.policy-menu-component-template .ant-menu-submenu-active .ant-menu-submenu-title .ant-menu-submenu-arrow:before{
    background-image: linear-gradient(to right, rgba(174, 36, 43, 1), rgba(174, 36, 43, 1));
}