.declarationItem-template{
}
.declarationItem-template .declarationItem-serach{
    margin-top: 20px;
    margin-bottom: 20px!important;
}
.declarationItem-template .declarationItem-serach .serach-arrow{
    display: inline-block;
    margin-top: 8px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #d13334;
}
.declarationItem-template .label-box{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #efefef;
}
.declarationItem-template .label-product-box{
    position: relative;
}
.declarationItem-template .label-product-box .more-label{
    color:#333;
    position: absolute;
    right:-20px;
    top:4px;
    cursor: pointer;
}
.declarationItem-template .label-box .ant-col-4 {
    color: #000;
    font-size: 16px;
}
.declarationItem-template .label-box .ant-col-4:before{
    content: '';
    width: 5px;
    height: 16px;
    background: #aa2426;
    display: inline-block;
    vertical-align: -2px;
    margin-right: 10px;
    display: none;
}
.declarationItem-template .declarationItem-button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 96px;
    text-align: left;
}
.declarationItem-template .declarationItem-button .ant-btn{
    background: #d13234;
    color: #fff;
    border:1px solid #d13234;
    border-radius: 0px;
    height: 26px;
    padding: 0 20px;
    font-size: 14px;
    margin: 0 10px;
}
.declarationItem-template .declarationItem-button .ant-btn:hover{
    background-color: #f3a7a7;
    animation: bg-color 10s infinite;
    -webkit-animation: bg-color 10s infinite;
}
.declarationItem-template .ant-row{
    margin-bottom: 0px;
}
.declarationItem-template .declarationItem-serach .serach{
    width: 370px;
    margin: 80px auto 420px;
}
.declarationItem-template .declarationItem-serach .ant-input-affix-wrapper .ant-input{
    border:1px solid #d13334;
    border-radius:0px 0 0 0px;
    padding:4px 11px;
    height: 30px;
    font-size:14px;
}
.declarationItem-template .declarationItem-serach .ant-input-affix-wrapper .ant-btn{
    border:1px solid #d13334;
    border-left:0px;
    background: #fff;
    border-radius:0 0px 0px 0;
    padding: 3px 18px;
    height: 30px;
    font-size: 14px;
    color: #757575;
}
.declarationItem-template .declarationItem-serach .ant-input-group .ant-input-group-addon{
    background: none;
}
.declarationItem-template .label-box .ant-col-2,
.declarationItem-template .label-box .ant-col-4,
.declarationItem-template .Label-component-template .ant-col-2{
    color: #666;
    font-size: 14px;
    text-indent: 15px;
    padding-top: 5px;
    text-align: left;
}
.declarationItem-template .ant-form-item{
    margin-bottom: 5px;
}
/*.declarationItem-template .label-box .ant-col-4{*/
    /*text-indent: 0;*/
/*}*/
.declarationItem-template .Label-component-template .ant-btn{
    color: #000;
    font-size: 14px;
    border:0;
    padding: 0;
    margin: 5px 20px 5px 0;
    background: none;
}

.declarationItem-template .Label-component-template .select-button{
    color: #ae242b;
}
.declarationItem-template .Label-component-template{
    margin-top: 5px;
}
.declarationItem-template .ant-table-thead{
    display: none;
}