.register-template{
    background: url("./img/bg.jpg") center top no-repeat;
    background-size: auto 100%;
}
.register-template .register-form-box{
    padding: 50px 0;
    position: relative;
    /*min-height: 777px;*/
}
.register-template .register-title{
   text-align: center;
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}
.register-template .register-button .ant-btn{
    margin-bottom: 40px;
    background: #ae242b;
    color: #fff;
    border:1px solid #ae242b;
    border-radius: 20px;
    height: 40px;
    padding: 0 45px;
    font-size: 18px;
    margin-right: 20px;
    margin-top: 20px;
}
.register-template .register-button p{
    text-align: right;
}
.register-template .register-form .ant-col-6 {
    color: #000;
    text-align: right;
    margin-right: 30px;
}
.register-template .register-form .ant-col-6 label{
    font-size: 14px;
    color: #302d2d;
}
.register-template .ant-form-item-label > label.ant-form-item-required::before,
/*.register-template .ant-form-item-label > label::after{*/
    /*display: none;*/
/*}*/
.register-template a{
    color: #ae242b;
}
.register-template a:hover{
    text-decoration: underline;
}
.register-template .ant-form-text:hover{
    border:1px solid #ae242b;
    color:#ae242b;
}
.register-template .ant-form-disabled,
.register-template .ant-form-disabled:hover{
    border:1px solid #d9d9d9;
    color: #c3c3c3;
    background: #efefef;
}
.register-template .top-component-template .ant-col-8{
    text-indent: 0;
}
/*.register-template .login-max-weight{*/
    /*position: relative;*/
    /*z-index: 1;*/
/*}*/
.register-template .register-form,.register-template .register-form-bg{
    width: 960px;
    height: 665px;
    position: absolute;
    z-index: 2;
    right: 160px;
    top: 57px;
    border-radius: 0px;
    padding: 20px;
}
.register-template .register-form-bg{
    z-index: 1;
    background: #fff;
    opacity: 0.9;
}
.register-template .width-min-title{
    width: 80%;
    margin: 0 auto;
}
.register-template .ant-divider-inner-text{
    font-size: 24px;
    color: #c02023;
}
.register-template .ant-divider-horizontal.ant-divider-with-text-center::before,
.register-template .ant-divider-horizontal.ant-divider-with-text-center::after{
    border-top:0px solid #a72329;
}
.register-template .ant-form-item{
   min-height: 60px;
    margin-bottom: 0px;
}
.ant-alert-success{
    display: inline-block;
    line-height: 14px;
}
.ant-alert-success .ant-alert-icon{
    top:8px
}
.register-template .ant-input{
    border:1px solid #e0e0e0;
    border-radius: 1px;
}
.register-template .register-button .ant-btn{
    border: 1px solid #d13334;
    color: #d13334;
    font-size: 16px;
    background: #fff;
    border-radius: 0px;
    height: 37px;
    margin-left: 30px;
    margin-right: 50px;
}
.register-template .register-button .ant-btn-primary{
    background: #d13334;
    color: #fff;
}