.matching-template{
}
.matching-template .matching-title{
    margin-top: 20px;
    color: #333;
}
.matching-template .matching-title:before{
    content: '';
    width: 5px;
    height: 20px;
    float:left;
    background: #1890ff;
    margin-right: 5px;
}
.matching-template .information-title-h1{
    padding-bottom: 10px;
}
.matching-template .alert-box{
    font-size: 12px;
    color: #f8c54b;
    border:1px solid #fad887;
    padding: 5px 10px;
    background: #fff;
    display: inline-block;
}
.matching-template .alert-box .anticon-exclamation-circle{
    font-size: 14px;
    vertical-align: -3px;
    margin-right: 5px;
}
.matching-template .button-edit{
    float:right;
}
.matching-template .button-matching{
    margin-left: 10px;
    vertical-align: 3px;
}
.matching-template .matching-form{
    border:1px solid #efefef;
    margin-top: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
}
.matching-template .matching-form .matching-title{
    margin-bottom: 10px;
}
/*.matching-template .title-component-template{*/
    /*margin-top: 80px;*/
    /*margin-bottom: 60px;*/
/*}*/
.matching-template .information-title-h1 .ant-btn{
    background: #d13334;
    color: #fff;
    border:1px solid #d13334;
    border-radius: 2px;
    height: 30px;
    padding: 0 10px;
    font-size: 12px;
}
.matching-template .information-title-h1 .ant-btn:hover{
    background-color: #f3a7a7;
    animation: bg-color 10s infinite;
    -webkit-animation: bg-color 10s infinite;
}
/*.matching-template .ant-btn:hover{*/
    /*background: #ae242b;*/
    /*color: #fff;*/
/*}*/
.matching-template .title-component-template:before{
    margin-left: 0px;
}
.matching-template .ant-table-thead{
    display: none;
}
.matching-template .ant-table-content{
    border-top: 1px solid #efefef;
}
.matching-template .action-butn p{
    margin-bottom: 10px;
}
.matching-template .action-butn .ant-btn{
    width: 90px;
}
.matching-template .score-box p{
    margin: 2px 0;
    padding: 0;
    color: #999;
}
.main-box .matching-template .ant-table-tbody .gray-tr td{
    background: #fcfcfc;
    color: #cfcfcf66;
}
.main-box .matching-template .ant-table-tbody .gray-tr td .policy-title-box .title,
.main-box .matching-template .ant-table-tbody .gray-tr td .policy-title-box p,
.main-box .matching-template .ant-table-tbody .gray-tr td .release_date-year,
.main-box .matching-template .ant-table-tbody .gray-tr td .release_date-date
{
    color: #cfcfcf;
}
