.top-component-template{
    overflow: hidden;
    height: 70px;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 1px 3px 3px #efefef;
}
.top-component-template .welcome-box{
    background: #fff;
    padding:0 5px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color:#302d2d;
    box-shadow: 1px 3px 3px #d8d3d5;
}
.top-component-template .welcome-box .ant-btn{
    background: #d13234;
    border:0px;
    color:#fff;
    cursor: pointer;
    margin-right:0px;
    border-radius: 5px;
    padding: 0px 15px;
    height: 32px;
}
.top-component-template .welcome-box .ant-btn:hover{
    background-color: #f3a7a7;
    animation: bg-color 10s infinite;
    -webkit-animation: bg-color 10s infinite;
}
.top-component-template .welcome-box .line-u{
    margin: 0 0 0 15px;
    text-decoration: none;
}
.top-component-template .welcome-box .right-button{
    text-align: right;
    font-size: 14px;
}
.top-component-template .logo-box{
    padding:156px 0 0;
    background: url('./img/banner_bg.jpg') left bottom no-repeat;
}
.top-component-template .logo-box .logo{
    font-size: 48px;
    color:#c8000a;
    display: block;
    text-align: center;
}
.top-component-template .logo-box .serach{
    width: 370px;
    margin: 80px auto 420px;
}
.top-component-template .logo-box .ant-input-group .ant-input{
    border:1px solid #c8000a;
    border-radius:15px 0 0 15px;
    padding:3px 11px;
}
.top-component-template .logo-box .ant-input-group .ant-btn{
    border:1px solid #c8000a;
    background: #a72329;
    border-radius:0 15px 15px 0;
    padding: 0px 10px;
    height: 30px;
    font-size: 20px;
}
.top-component-template .logo-box .ant-input-group .ant-input-group-addon{
    background: none;
}
.top-component-template .menu-box{
    position: relative;
    z-index: 1;
    height: 130px;
}
.top-component-template .menu-box .menu-bg{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height: 130px;
    background: #fff;
    opacity: 0.57;
}
.top-component-template .menu-box .ant-menu-dark{
    background: none;
}
.top-component-template .menu-box .ant-menu{
    width: 1400px;
    margin: 0 auto;
    padding-top: 40px;
}
.top-component-template .ant-menu-dark .ant-menu-item{
    padding: 0 140px;
    border-left:1px solid #7f7e90;
    margin-top: 15px;
}
.top-component-template .ant-menu-dark .ant-menu-item a{
    font-size: 14px;
    color: #333;
    line-height: 17px;
}
.top-component-template .ant-menu-dark .ant-menu-item-selected{
    background: none;
}
.top-component-template .ant-menu-dark .ant-menu-item-selected a{
    color: #c8000a;
    position: relative;
    z-index: 1;
}
.top-component-template .ant-menu-dark .ant-menu-item-selected a:after{
    content: '';
    border-bottom: #c8000a;
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom:0px;
    z-index: 2;
    background: #c8000a;
}
.top-component-template .ant-menu-dark .ant-menu-item:nth-child(2){
    border:0;
}
/*二级顶部加了min样式*/
.top-component-template .min-logo-box{
    height: 130px;
    padding-top: 0px;
    background: url('./img/bg.jpg') left bottom no-repeat;
}
.top-component-template .min-logo-box .max-weight-box{
    background: url('./img/logo.png') left 10px no-repeat;
    height: 90px;
    padding-top: 20px;
}
.top-component-template .min-logo-box .logo{
    font-size: 22px;
    display: inline-block;
    margin-left: 120px;
    font-weight: bold;
    margin-top: 6px;
}
.top-component-template .min-logo-box .serach{
    margin: 5px 40px 0 0;
    float:right
}
.top-component-template .min-menu-box{
    height: 40px;
    margin-top: 0px;
}
.top-component-template .min-menu-box .menu-bg{
    height: 40px;
}
.top-component-template .min-menu-box .ant-menu{
    padding-top: 0;
    line-height: 28px;
}
.top-component-template .min-menu-box .ant-menu-dark .ant-menu-item{
    margin-top: 0;
    height: 15px;
}
/**/
.top-component-template .welcome-box{
    height: 70px;
    line-height: 60px;
}
.welcome-box .ant-menu-dark{
    background: none;
}
.top-component-template .welcome-box .ant-menu-horizontal{
    line-height: 45px;
    margin-left: 20px;
}
.top-component-template .welcome-box .ant-menu-dark .ant-menu-item{
    margin-top: 0;
    padding: 0 20px;
    border-left:1px solid #c02023;
    height: 15px;
}
.top-component-template .welcome-box .ant-menu-dark .ant-menu-item:nth-child(2){
    border:0px;
}
.top-component-template .welcome-box .ant-menu-dark .ant-menu-item a{
    color: #302d2d;
    width: 90px;
    text-align: center;
    padding: 5px;
    margin-top: -5px;
}
.top-component-template .welcome-box .ant-menu-dark .ant-menu-item a:hover{
    color: #d13234;
    background: #dddddd;
    border-radius: 4px;
}
.top-component-template .welcome-box .ant-menu-dark .ant-menu-item a:hover{animation: 0.5s opacity2 0s 1; -webkit-animation: 0.5s opacity2 0s 1;-moz-animation: 0.5s opacity2 0s 1;}
@keyframes opacity2{
    0%{background:rgba(221,221,221,0)}
    50%{background:rgba(221,221,221,0.5)}
    100%{background:rgba(221,221,221,1)}
}
@-webkit-keyframes opacity2{
    0%{background:rgba(221,221,221,0)}
    50%{background:rgba(221,221,221,0.5)}
    100%{background:rgba(221,221,221,1)}
}
@-moz-keyframes opacity2{
    0%{background:rgba(221,221,221,0)}
    50%{background:rgba(221,221,221,0.5)}
    100%{background:rgba(221,221,221,1)}
}
.top-component-template .welcome-box .ant-menu-dark .ant-menu-item-selected a{
    color: #c02023;
}
.top-component-template .welcome-box .ant-menu-dark .ant-menu-item-selected a:after{
    /*display: none;*/
    border-bottom: 1px solid #fff;
}
.top-component-template .welcome-box .serach{
    width: 150px;
    margin: 20px 0 0 0px;
}
.top-component-template .welcome-box .ant-input-group .ant-input{
    border:1px solid #e0e0e0;
    border-radius:0px 0 0 0px;
    padding:0px 11px;
    text-indent: 0;
    height: 30px;
    border-right:0px
}
.top-component-template .welcome-box .ant-input-group .ant-btn{
    border:1px solid #e0e0e0;
    border-left:0px;
    background: #fff;
    border-radius:0 0px 0px 0;
    padding: 0px 10px;
    height: 30px;
    font-size: 20px;
    color:#787878;
}
.top-component-template .welcome-box .ant-input:focus,
.top-component-template .welcome-box .ant-input:hover{
    border:1px solid #e0e0e0!important;
    background: #fff!important;
    box-shadow: none!important;
    border-right:0px!important;
}
.top-component-template .welcome-box .ant-input-group .ant-input-group-addon{
    background: none;
}
.top-component-template .welcome-box .right-button{
    margin-top: 5px;
}
.top-component-template .top-name{
    font-weight: bold;
    font-size: 24px;
    line-height: 70px;
}
.top-component-template .top-name img{
    display: inline-block;
    margin-right: 10px;
    vertical-align: -9px;
}