.b-information-item table{
    width:100%;
    border-top:1px solid #e6e6e6;
    border-left:1px solid #e6e6e6;
    margin-bottom: 30px;
}
.b-information-item table th,
.b-information-item table td{
    border-bottom:1px solid #e6e6e6;
    border-right:1px solid #e6e6e6;
    padding: 0px 10px;
    width: 25%;
}
.b-information-item table th{
    font-size: 14px;
    color: #666;
    font-weight: normal;
    line-height: 30px;
    /*background: #f2f2f2;*/
}
.b-information-item table td{
    padding: 5px 10px;
}
.b-information-item .ant-form-item{
    margin-bottom: 0px;
}
.b-information-item .ant-form-item .ant-input{
    width: 100%;
}
.b-information-item .address-box .ant-form-item{
    /*width: 25%;*/
    display: inline-block;
}
.b-information-item .ant-input,
.b-information-item .ant-select-selection{
    /*border: 1px solid #f5f5f5;*/
}
.b-information-item .ant-radio-group{
    padding: 2px 0;
}
.b-information-item-type table th{
    width: 25%;
}
.b-information-item-type table td{
    width: 75%;
}
.b-information-item-type2 table th{
    width: 25%;
}
.b-information-item-type2 table td{
    width: 75%;
}
.b-information-template .title-two-component-template{
  margin-bottom: 5px;
}
.b-information-butn{
    text-align: center;
    padding-bottom: 30px;
}
.b-information-butn .ant-btn{
    margin: 0 10px;
    border:1px solid #c8000a;
    background: #fff;
    border-radius:5px;
    padding: 0px 20px;
    height: 30px;
    font-size: 14px;
    color: #c8000a;
}
.b-information-butn .ant-btn:hover{
    background-color: #f3a7a7;
    animation: bg-color 10s infinite;
    -webkit-animation: bg-color 10s infinite;
}
