.policyPreview-template{}
.policyPreview-template .policyPreview-label-box{
    background: #fff;
}
.policyPreview-template .policyPreview-label-box .max-weight-box{
    background: #fff;
    /*border-top:50px solid #ae242b;*/
}
.policyPreview-template .policyPreview-descriptions{
    padding: 10px 20px 10px 20px;
    margin: 10px 0;
    border: 1px solid #e6e6e6;
}
.policyPreview-template .policyPreview-content-box{
    padding: 20px 0;
    font-size: 16px;
}
.policyPreview-template .policyPreview-content{
    margin-top: 20px;
}
.policyPreview-template .policyPreview-content .policyPreview-content-title{
    font-size: 20px;
    color: #000;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.policyPreview-template .policyPreview-content .policyPreview-content-text{
    padding: 0 20px;
    font-size: 14px;
    color: #000;
    line-height: 30px;
}
.policyPreview-template .policyPreview-content .policyPreview-content-text div{
    text-indent: 30px;
    margin-bottom: 20px;
}
.policyPreview-template .title-component-template{
    padding-top: 30px;
    margin-bottom: 0px;
    margin-top: 0;
    margin-left: 0px;
}
.policyPreview-template .ant-descriptions-item-label{
    font-size: 14px;
    color: #666;
}
.policyPreview-template .ant-descriptions-item-content{
    font-size: 14px;
    color: #000;
}
.policyPreview-template .ant-descriptions-row > td{
    padding-bottom: 10px;
}
.policyPreview-template .labelAdd .ant-descriptions-item-label{
    vertical-align: top;
}
.policyPreview-template .labelAdd .ant-descriptions-item-content{
    display: inline-block;
    width: 90%;
}
.policyPreview-template .labelAdd .ant-descriptions-item-content .ant-tag{
    margin-bottom: 10px;
}
.policyPreview-template .itemText-infor-table{
    width: 96%;
    margin: 20px auto;
    border:1px solid #eee;
    font-size: 14px;
}
.policyPreview-template .itemText-infor-table tr td{
    padding: 5px 10px;
    border-left:1px solid #eee;
    border-top:1px solid #eee;
    text-align: center;
}
.policyPreview-template .labelAdd .ant-descriptions-item-content .ant-tag{
    margin-bottom: 0px;
    background: #f5f5f5;
    padding: 0px 10px;
    font-size: 14px;
    border-radius: 0px;
}
.policyPreview-template .policyPreview-content-text,
.policyPreview-template .policyPreview-content-text p,
.policyPreview-template .policyPreview-content-text div,
.policyPreview-template .item-desc,
.policyPreview-template .item-desc p,
.policyPreview-template .item-desc div
{
    font-family: 'Microsoft YaHei' !important;
    font-size: 14px;
}
.policyPreview-template .policyPreview-content-text,
.policyPreview-template .item-desc
{
    color: #000;
}