.footer-component-template{
    background: #c02023;
    color: #fff;
    padding: 30px 0;
    line-height: 25px;
    height: 80px;
}
.footer-component-template p{
    margin: 0;
}
.footer-component-template .mt5{
    margin-top: 5px;
}
.footer-component-template .max-weight-box{
    font-size: 12px;
    text-align: center;
    position: relative;
    z-index: 1;
}

