.itemText-template{}
.itemText-template .itemText-label-box{
    padding-top: 20px;
}
.itemText-template .itemText-descriptions{
    border:1px solid #efefef;
    padding: 10px;
    margin: 10px 0;
}
.itemText-template .itemText-content-box{
    padding-bottom: 20px;
}
.itemText-template .itemText-content{
    margin-top: 20px;
}
.itemText-template .itemText-content .itemText-content-title{
    font-size: 20px;
    color: #333;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.itemText-template .itemText-content .itemText-content-text{
    padding: 10px 0;
}
.itemText-template .itemText-infor .itemText-infor-table{
    width: 97%;
    margin: 20px auto;
    border:1px solid #eee;
}
.itemText-template .itemText-infor .itemText-infor-table tr td{
    padding: 7px 10px;
    border-left:1px solid #efefef;
    border-top:1px solid #efefef;
    text-align: center;
    color: #333;
}
.itemText-template .itemText-infor .itemText-infor-table tr:nth-child(2n) td{
    background: #f5f5f5;
}
.itemText-template .itemText-infor .itemText-infor-table tr td:first-child{
    color: #666;
}
.itemText-template .item-box{
    margin-top: 20px;
}
.itemText-template .collection-butn .ant-btn{
    border-radius: 5px;
    height: 30px;
    padding: 0 20px;
    font-size: 14px;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}
.itemText-template .collection-butn .ant-btn-primary{
    background: #fff;
    border:1px solid #d13234;
    color: #d13234;
}
.itemText-template .collection-butn .ant-btn:hover{
    background-color: #f3a7a7;
    border: 1px solid #f3a7a7;
    color: #fff;
    animation: bg-color 10s infinite;
    -webkit-animation: bg-color 10s infinite;
}
.itemText-template .item-desc{
    padding: 20px;
    font-size: 14px;
    color: #000;
}
.itemText-template .ant-descriptions-item-label{
    font-size: 14px;
    color: #666;
}
.itemText-template .ant-descriptions-item-content{
    font-size: 14px;
    color: #000;
}
.itemText-template .ant-descriptions-row > td{
    padding-bottom: 10px;
}
.itemText-template .title-two-component-template{
    padding: 7px 20px;
    font-size: 14px;
    margin-top: 30px;
    border-top:1px solid #e2e2e2;
}
.itemText-template .policyPreview-content-text,
.itemText-template .policyPreview-content-text p,
.itemText-template .policyPreview-content-text div,
.itemText-template .item-desc,
.itemText-template .item-desc p,
.itemText-template .item-desc div
{
    font-family: 'Microsoft YaHei' !important;
    font-size: 14px;
    color: #000;
}